<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>
<body>
    {% if thought %}
      <h1>{{ thought.thought }}</h1>
      <br>
      <h2>- {{ thought.author }}</h2>
      <br>
        <a href="{% url 'random_thought:list-thought' %}"><button>Wróć</button></a>
    {% endif %}
    {% if thought_to_del %}
    <h1>{{ thought_to_del.thought }}</h1>
    <br>
    <h2>{{ thought_to_del.author }}</h2>
    <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Usuń
        </button>

        <!-- Modal -->
    <form method="POST">{% csrf_token %}
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ostrzeżęnie</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Czy chcesz trwale usuań ten wpis?
              </div>
              <div class="modal-footer">
               <a href="{% url 'random_thought:list-thought' %}">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anuluj</button>
               </a>
               <a href="{% url 'random_thought:delete-thought' thought_to_del.id %}">
                   <button type="submit" class="btn btn-primary">Usuń</button>
               </a>
              </div>
            </div>
          </div>
        </div>
    </form>
    {% endif %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>